/* Background */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #6a82fb, #8e44ad);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Center container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card */
.profile-card {
    background: white;
    width: 350px;
    padding: 40px 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
}

/* Profile Image */
.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid #6a82fb;
    margin-bottom: 20px;
}

/* Title */
h2 {
    margin: 0;
    font-size: 28px;
}

/* Description */
.description {
    font-size: 15px;
    margin: 15px 0 25px;
    color: #555;
    line-height: 1.5;
}

/* Buttons */
.buttons {
    margin-top: 20px;
}

.btn {
    text-decoration: none;
    border: 2px solid #6a82fb;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 5px;
    display: inline-block;
    transition: 0.3s;
    color: #6a82fb;
    font-weight: bold;
}

.btn:hover {
    background: #6a82fb;
    color: white;
}